  <div class="container">
	<div class="row">
    <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="well bs-component">
              <form class="form-horizontal">
              <!-- <form class="form-horizontal" enctype="multipart/form-data"> -->
                <fieldset>
                  <legend>Add a company</legend>
                  <div class="form-group">
                    <label for="title" class="col-lg-2 control-label">Company Name</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control" ng-model="title" id="title" placeholder="Company Name">
                    </div>
                  </div>

                <div class="control-group">
                    <label class="col-lg-2 control-label">Add a contract:</label>
                 		<div class="col-lg-10">
                        	<span class="btn btn-success btn-file">
                            <span class="glyphicon glyphicon-plus"></span> <span>Choose files...</span>
                            <input type="file" name="files" id="files" multiple file-input="files" />
                        </span>
                    </div> 
                </div>
                <div class="filelist">
                  <li ng-repeat="file in files">{{file.name}}</li>
                </div>
                  <div class="form-group">
                    <div class="col-lg-4 col-lg-offset-8">
                      <button type="reset" class="btn btn-default">Cancel</button>
                      <button type="submit" class="btn btn-primary" ng-click="submit(title, files)">Submit</button>
                      
                    </div>
                  </div>

                </fieldset>
              </form>

            </div>
          </div>
          <div class="col-lg-4 col-lg-offset-1">
            </div>
            </div>
